<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.AndroidMapsCompose" >

    <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="AIzaSyC9J7-SFDXJFexhupr2653njl6pz4DdkPo" />

    <activity
        android:name=".BasicMapActivity"
        android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
        android:name=".MapInColumnActivity"
        android:exported="false"/>
    <activity
        android:name=".MapClusteringActivity"
        android:exported="false"/>
    <activity
        android:name=".LocationTrackingActivity"
        android:exported="false"/>
    <activity
        android:name=".ScaleBarActivity"
        android:exported="false"/>
    <activity
        android:name=".StreetViewActivity"
        android:exported="false"/>

    <!-- Used by createComponentActivity() for unit testing -->
    <activity android:name="androidx.activity.ComponentActivity" />

  </application>
</manifest>